# Carpetas
__pycache__/
.idea/
.vscode/
Features_Extracted/
Interest_Audios/
Matlab tests/
Respiratory_Sound_Database/
Results/
useful_audio/
NMF_results/
Heartbeat sounds/

# Archivos
Resultados.npy
Testing_modules/Piano_Sax.wav
Testing_modules/Test_1.wav

# Archivos en comp test
Compressed_sensing_tests/*.npz
Compressed_sensing_tests/*.lp

# Archivos en Entropy test
Entropy_test/*.npz
Entropy_test/Drums_zanark_*/
Entropy_test/*.txt

# Archivos en Wavelets test
Wavelets_tests/*.wav
Wavelets_tests/Wavelets_plots/

# Archivos generados en db_HR
Database_manufacturing/db_HR

# Archivos generados en Heart component dictionaries
Heart component dictionaries/normal*
Heart component dictionaries/abs scale decomposition*
Heart component dictionaries/dB scale decomposition*

# Archivos usados en Source separation tests
Source separation tests/db_dict

# Archivos usados en Heart_sound_segmentation_v2
Heart_sound_segmentation_v2/PhysioNet 2016 CINC Heart Sound Database
Heart_sound_segmentation_v2/HS_ultimate_test
Heart_sound_segmentation_v2/Paper_models
Heart_sound_segmentation_v2/Models
Heart_sound_segmentation_v2/Trained_models
Heart_sound_segmentation_v2/Analysis_results

OLD/Components 2020-08-05/
OLD/Components 2020-08-10/