# Carpetas
__pycache__/
.idea/
.vscode/
Features_Extracted/
Interest_Audios/
Matlab tests/
Respiratory_Sound_Database/
Results/
useful_audio/
NMF_results/

# Archivos
Resultados.npy
Testing_modules/Piano_Sax.wav
Testing_modules/Test_1.wav

# Archivos en comp test
Compressed_sensing_tests/*.npz
Compressed_sensing_tests/*.lp

# Archivos en Entropy test
Entropy_test/*.npz
Entropy_test/Drums_zanark_*/