# Carpetas
__pycache__/
.idea/
.vscode/
Features_Extracted/
Interest_Audios/
Matlab tests/
OLD/
Respiratory_Sound_Database/
Results/
useful_audio/

# Archivos
Resultados.npy
Testing_modules/Piano_Sax.wav
Testing_modules/Test_1.wav